* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f7fc; 
    /* background-color: #4e73df; */
    color: #333;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 1280px;
    
}


.volcontainer {
    text-align: center;
    width: 90%;
    max-width: 1500px;
}


h1 {
    font-size: 36px;
    font-weight: 700;
    color: #4e73df; 
    margin-bottom: 95px;
}


.cards {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    margin-bottom: 50px;
}

.card {
    background-color: #4e73df; 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    width: 300px;
    height: 200px;
    display: flex; 
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    color: white;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


.card-title {
    font-size: 20px;
    font-weight: bold;
}


.add-btn {
    background-color: #4e73df;
    color: white;
    border: none;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    font-size: 36px;
    position: fixed;
    bottom: 40px;
    right: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    cursor: pointer;
}

.add-btn:hover {
    background-color: #3e5ac9;
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}